audio {
    margin-left: 4rem;
}

.cui:hover {
    color: brown;
}

.center {
    display: block;
    text-align: center;
    align-items: center;
}

.container {
    position: static;
    margin-top: 2rem;
    padding: 1.75rem 2rem;
    align-items: center;
    background: linear-gradient(rgb(185, 184, 184) ,rgb(185, 184, 184) ,rgb(197, 225, 226));
    border-radius: 5px;
}
